/**
Layout CSS pour page--front.tpl custom sous D7
Utilisation de Html5 et Sass (ZenGrids) avec sous-thème Zen
 */
/*Create a new .scss file and import the grids file
 Import de la grille de base*/
@import "_grids.scss";

$zen-column-count: 12;//nombre de colonnes de la grille du header
$zen-gutter-width: 10px;


#header{@include zen-grid-container;}
/*Partie gauche du header*/
#headHaut{@include zen-grid-container;
	margin:0;	
}
#logo-container{
	@include zen-grid-item(3,1);
	margin:0;
}
#logoHead img{
	height:auto !important;
	width:auto;
	padding:0;
	margin:0;
}
/*Menu pictos header*/
#menuImg{
	@include zen-grid-item(9,1,right);

}
#menuImg table,#menuImg tbody{border: 0;}
#menuImg td{
border:0;
height:25px;
width:auto;
display:block;
float:left;
padding:4px;
}

#menuImg a {border:0;font-family: arista,Trebuchet MS, sans-serif;padding:0 0.75em;
    text-align: center;color:#94127F;font-size: 1.5em;text-decoration: none;}
#menuImg a:hover{color: #F29400;}
/************PARTIE BASSE**************/
#headBas{
	@include zen-grid-container;
	background:transparent url(../images/bg_menu_rp.gif) repeat-x top left;
	
}

#name-and-slogan{}
#site-name a{
text-decoration: none;
color: white;
text-transform: uppercase;
}

#site-name{}
#site-slogan{
@include zen-clear(both);@include zen-grid-item(8,1);
}

#site-slogan a{
text-decoration: none;
color: white;
text-transform: uppercase;
}
#search-container{ @include zen-grid-item(3,2,right);margin:0;}
/*Menu principal haut du header*/
#menu-container{
@include zen-clear(both);@include zen-grid-item(12,1);	
}

/*FIN CSS HEADER*/
/*****************/
#main{
	background: url(../images/bg_content_etoile.gif) no-repeat left bottom;
	
}
/********************/
/*ZONES PAGE ACCUEIL DIAPO PANORAMIQUE*/
#content-bottom-home a{
    color: gray;
    font-weight: bold;
}
#HPDiapo{
@include zen-grid-container;
}
/****************/
#BasGaucheHP{
        @include zen-clear(both);@include zen-grid-item(6,1);
}

#BasDroitHP{
	@include zen-grid-item(6,2,right);
}
#BasGaucheHP ul li{
    list-style: square;
}
#BasGaucheHP a,#BasDroitHP a{
text-decoration:none;
}
#BasGaucheHP a:hover,#BasDroitHP a:hover{
text-decoration:underline;
}
#BasDroitHP h3,#BasGaucheHP h3,#BasDroitHP h2,#BasGaucheHP h2{
    text-align: center;color: #E7512F;
}
/*---DIAPORAMA HOMEPAGE TEXTE DYNAMIQUE  PANORAMIQUE----*/
#transparency{
background:none repeat scroll 0 0 #F29400;/*Couleur du fond*/
height:65px;
bottom:10px;
left:12px;
position:absolute;
width:968px;
z-index:15;
opacity:0.0;/*0.6*/
-moz-opacity : 0.0;
-ms-filter: "alpha(opacity=00)"; /* IE 8 */
filter : alpha(opacity=00); /* IE < 8 */
}
#contenu-diapo{
position:relative;
bottom: 10%;
left: 10px;
color: white;
z-index:20;
top: -40px;
}
#contenu-diapo h2{
color: white;
padding:5px;
font-family: Arista,Trebuchet MS,sans serif;

}
#contenu-diapo a{
color: white;
text-decoration: none;
}
.view-diaporama-homepage{
height:200px;
margin:0 auto;
position:inherit;
width:978px;
}
#views_slideshow_singleframe_main_diaporama_homepage-block_1{
    padding: 0;
}
#views_slideshow_singleframe_teaser_section_diaporama_homepage-block_1{
    position: relative;
    z-index:1;
}
/*---------------------------------------------------------
--------------  HOMEPAGE POUR DIAPO3D
-----------------------------------------------------------
*/
#Diapo3D{
    margin: 0 auto;
    
     
}
#Diapo3DReg{
    width: 880px;
    margin: 0 auto;
    display: block;
}
/*
HOMEPAGE SLIDESHOW DERNIERES VDL (Views2)=======================
*/
#views_slideshow_singleframe_main_HP_slideshow-block_1 .views-field-title a{
    color:#93117E;font-size: 14px;text-decoration: none;
}
#views_slideshow_singleframe_main_HP_slideshow-block_1 .views-field-title a:hover{
    text-decoration: underline;
}
#views_slideshow_singleframe_main_HP_slideshow-block_1 img{
    padding: 2px;
    border: 3px solid #F29400;
}
/*
HOMEPAGE SLIDESHOW DERNIERES VDL (Views3) =======================
*/
#views_slideshow_cycle_main_HP_slideshow-block_1 .views-field-title a{
    color:#93117E;font-size: 14px;text-decoration: none;
}
#views_slideshow_cycle_main_HP_slideshow-block_1 .views-field-title a:hover{
    text-decoration: underline;
}
#views_slideshow_cycle_main_HP_slideshow-block_1 img{
    padding: 2px;
    border: 3px solid #F29400;
}